<div class="home-callout text-center container-fluid">
  <h1>Mock Draft Contest</h1>
</div>
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-6">-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->